<div class="row justify-content-center">
    <div class="card w-50 border-info" style="width: 18rem;">
        <div class="card-header bg-info text-white">
            <h5 class="text-center">Details</h5>
          </div>
        <div class="card-body">
            <h7><b>Nama &nbsp&nbsp&nbsp:</b> <%= contact.nama %></h7><br>
            <h7><b>Nomor &nbsp:</b> <%= contact.telepon %></h7><br>
            <h7><b>Email &nbsp&nbsp&nbsp&nbsp:</b> <%= contact.email %></h7>
        </div>
    </div>
</div>
